<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosche.flightlog"
    android:versionCode="1"
    android:versionName="dev105" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/flight_icon"
        android:label="@string/app_name"
        android:launchMode="singleTop" android:theme="@style/AppTheme">
        <activity
            android:name="com.rosche.flightlog.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.rosche.flightlog.EditActivity" />
        <activity
            android:name="com.rosche.flightlog.help"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        
        <activity
            android:name="com.rosche.flightlog.ImageGallery"

            android:configChanges="orientation|keyboard|keyboardHidden|screenSize">

 		</activity>
	                <activity android:name="CustomGalleryActivity" 
	                    android:configChanges="orientation|keyboard|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="luminous.ACTION_PICK" />
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.rosche.flightlog.Flights" 
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity android:name="com.rosche.flightlog.NewFlight" 
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity android:name="com.rosche.flightlog.documents" 
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity
            android:name="com.rosche.flightlog.FullScreenViewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="com.rosche.flightlog.PreferencesActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:enabled="true"
            android:label="Options" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
         <activity android:name="com.rosche.flightlog.customFields" 
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
                 <activity android:name="com.rosche.flightlog.newField" 
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity android:name="eu.janmuller.android.simplecropimage.CropImage" />
    </application>

</manifest>